<!DOCTYPE html>
<html>
  <head>
    <style>
        @media print {
            .noPrint{
                display:none;
            }
        }
        table, th, td {
            font-size: 12px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
  </head>
  <body style="height: 595px; width: 842px; margin-left: auto; margin-right: auto; justify-content: center; align-items: center; text-align: center;">
    <div class="baslik" style="display: flex;">
        <h1>
           Toplu Puantaj
        </h1>
        <button style="margin-top: 10px;margin-left: auto; background-color: transparent; border-color: transparent;" onclick="window.print();" class="noPrint">
            <img style="width: 25px;" src="../static/resimler/3022251.png" alt="">
        </button>
    </div>
    <div class="govde-baslik" >
        .../..... Dönemi Toplu Personel Puantajı
    </div>
    <div class="govde" style="text-align: center; justify-content: center; justify-items: center; align-items: center;">
        <table style="text-align: center; justify-content: center; justify-items: center; align-items: center;">
            <tr>
                <th>Sıra No.</th>
                <th style="width: 250px;">Personel Adı Soyadı</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
                <th>29</th>
                <th>30</th>
                <th>31</th>
            </tr>
            <tr>
               <td>1</td>
               <td></td>
               <td><b>✓</b></td>
               <td><b>✓</b></td>
               <td><b>✓</b></td>
               <td><b>✓</b></td>
               <td><b>✓</b></td>
               <td><b>✓</b></td>
               <td><b>✓</b></td>
               <td><b>✓</b></td> 
            </tr>
        </table>
    </div>
  </body>
</html>